@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@utility no-number-spinner {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .ui-table {
        @apply relative flex overflow-hidden rounded-md border border-border bg-background;
    }

    .ui-table-main {
        @apply min-w-0 flex-1;
    }

    .ui-table-content {
        @apply relative overflow-x-auto;
    }

    .ui-table-element {
        @apply w-full table-auto divide-y divide-border text-start text-sm;
    }

    .ui-table-element > thead {
        @apply divide-y divide-border;
    }

    .ui-table-element > thead > tr {
        @apply bg-muted/50;
    }

    .ui-table-element > tbody {
        @apply divide-y divide-border whitespace-nowrap;
    }

    .ui-table-element > tfoot {
        @apply divide-y divide-border border-t border-border bg-muted/30 whitespace-nowrap;
    }

    .ui-table-header-cell {
        @apply h-10 px-3 text-start align-middle font-semibold whitespace-nowrap text-foreground;
    }

    .ui-table-empty-header-cell {
        @apply w-1;
    }

    .ui-table-header-cell-sort-button {
        @apply flex w-full cursor-pointer items-center justify-start gap-1;
    }

    .ui-table-header-cell-sort-icon {
        @apply size-5 shrink-0 text-muted-foreground transition-colors duration-75;
    }

    .ui-table-header-cell-sorted .ui-table-header-cell-sort-icon {
        @apply text-foreground;
    }

    .ui-table-header-cell-sort-button-sorted .ui-table-header-cell-sort-icon {
        @apply text-foreground;
    }

    .ui-table-header-cell:not(.ui-table-header-cell-sorted) .ui-table-header-cell-sort-button:hover .ui-table-header-cell-sort-icon,
    .ui-table-header-cell:not(.ui-table-header-cell-sorted)
        .ui-table-header-cell-sort-button:focus-visible
        .ui-table-header-cell-sort-icon {
        @apply text-foreground;
    }

    .ui-table-row {
        @apply transition-colors duration-75;
    }

    .ui-table-element.ui-table-hover > tbody > .ui-table-row:hover,
    .ui-table-row[data-state='selected'] {
        @apply bg-muted/50;
    }

    .ui-table-element.ui-table-striped > tbody > .ui-table-row:nth-child(even) {
        @apply bg-muted/50;
    }

    .ui-table-cell {
        @apply p-0 text-foreground;
    }

    .ui-table-column {
        @apply flex w-full justify-start;
    }

    .ui-table-text {
        @apply w-full px-3 py-2.5 text-sm leading-6;
    }

    .ui-table-cell:has(.ui-table-actions) {
        @apply w-1 p-3 whitespace-nowrap;
    }

    .ui-table-actions {
        @apply flex max-w-full shrink-0 items-center justify-end gap-3;
    }

    .ui-table-empty-state {
        @apply border-t border-border px-6 py-12;
    }

    .ui-table-empty-state-content {
        @apply mx-auto grid max-w-lg justify-items-center text-center text-sm text-muted-foreground;
    }

    .ui-table .ui-pagination {
        @apply border-t border-border px-3 py-2;
    }

    .ui-pagination {
        @apply grid grid-cols-[1fr_auto_1fr] items-center gap-x-3;
    }

    .ui-pagination:empty {
        @apply hidden;
    }

    .ui-pagination-overview {
        @apply hidden text-sm font-medium text-gray-700 dark:text-gray-200;
    }

    .ui-pagination-direction-button {
        @apply relative inline-grid grid-flow-col items-center justify-center gap-1.5 rounded-md border border-border bg-background px-2.5 py-1.5 align-middle text-sm font-medium text-foreground shadow-xs transition duration-75 outline-none hover:bg-accent focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50;
    }

    .ui-pagination-previous-button {
        @apply justify-self-start;
    }

    .ui-pagination-next-button {
        @apply col-start-3 justify-self-end;
    }

    .ui-pagination-items {
        @apply col-start-3 hidden justify-self-end rounded-md border border-border bg-background shadow-xs;
    }

    .ui-pagination-item {
        @apply border-s border-border first:border-s-0;
    }

    .ui-pagination-item-button {
        @apply relative flex size-8 items-center justify-center overflow-hidden p-0 transition duration-75 outline-none;
    }

    a.ui-pagination-item-button {
        @apply hover:bg-accent focus-visible:z-10 focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50;
    }

    a.ui-pagination-item-button:hover .ui-pagination-item-icon {
        @apply text-foreground;
    }

    .ui-pagination-item-label {
        @apply text-sm font-semibold text-gray-700 dark:text-gray-200;
    }

    .ui-pagination-item-icon {
        @apply size-4 text-gray-400 transition duration-75 dark:text-gray-500;
    }

    .ui-pagination-item-active .ui-pagination-item-button {
        @apply bg-accent;
    }

    .ui-pagination-item-active .ui-pagination-item-label {
        @apply text-primary;
    }

    .ui-pagination-item-disabled .ui-pagination-item-label {
        @apply text-gray-500 dark:text-gray-400;
    }

    .ui-pagination-item:first-of-type .ui-pagination-item-button {
        @apply rounded-s-md;
    }

    .ui-pagination-item:last-of-type .ui-pagination-item-button {
        @apply rounded-e-md;
    }

    @supports (container-type: inline-size) {
        .ui-pagination {
            @apply @container;
        }

        .ui-pagination-previous-button,
        .ui-pagination-next-button {
            @apply @4xl:hidden;
        }

        .ui-pagination-overview {
            @apply @4xl:inline;
        }

        .ui-pagination-items {
            @apply @4xl:flex;
        }
    }

    @supports not (container-type: inline-size) {
        .ui-pagination-previous-button,
        .ui-pagination-next-button {
            @apply md:hidden;
        }

        .ui-pagination-overview {
            @apply md:inline;
        }

        .ui-pagination-items {
            @apply md:flex;
        }
    }

}
